<footer class="page-footer #673ab7 deep-purple">
  <div class="footer-copyright">
    <div class="container">
      <div class= "row">
        <div class="col s4">
          © 2020 Copyright Riservato Marketools
        </div>
        <div class="col s4">
          Social
        </div>
        <div class="col s4">
        <%= link_to "Chi Siamo", about_path, class: "grey-text text-lighten-4 right" %>
        </div>
      </div>
    </div>
</footer>